.container h3{
    color: black;
}


.row{
    background-color: white;
}
.container1{
    background-color: white;
    border: 15px solid rgb(75, 0, 82);
}

.container3{
    background-color: white;
    border: 15px solid rgb(75, 0, 82);
}


#btn1 {
    background-color: rgb(40, 0, 44);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:auto;
    
}



.text-grey{
    color: rgba(43, 43, 43, 0.479);
}
.d-align-center{
    align-items: center
}



.w-70{
    width: 70%
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%
}





.bg-blach-light{
    background-color: rgba(75, 0, 82);
}


.h-80{
    height:80px;
}
.m-auto{
    margin: auto;
}
.d-self-center{
    align-self: center;
}


#btn2 {
    background-color: rgb(169, 101, 209);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:auto;
    
}


#sub , #sub1{
    background-color: orangered;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15x;
    
}


#chatbtn{
    align-content: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  img {
      max-width: 100%;
      height: auto;
  }

  /* .container chatBox{
      background-color: rgb(180, 10, 10);
  } */
  
  .btn{
      
      margin-top: 30px;
      margin-left: 20px;
      float: right;
      
  }


  .btnind{
      
    margin-top: 30px;
    margin-right: 20px;
    float: right;
    
}

/* index css */

.column {
    
    width: 15%;
    padding: 5px;
    margin-left: 250px;

  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }


  #homebtn{
    margin-bottom: 30px;
}


@media (max-width:768px){
    .column{
       margin-left:30px;
    }
}


/* @media (max-width:632px){
    .column{
       margin-left:40px;
    }
    .input-group-prepend{
        display: none !important;
    }
} */

@media (max-width:632px){
    #sub{
        display: none !important;
    }
}

/* @media screen and (max-width: 320px) {
    #sub1{
       background-color: orangered; 
      display: inline-block !important;
      font-family: fantasy;
    }
  } */

  @media (max-width: 425px) {
    .btn6{
    
      display: inline-block !important;
      border-radius: 8px;
      text-align: center;
      text-decoration: none;
     font-size: 15x;
     color:white;
      margin-top: 15px;
      background-color: rgb(36, 104, 230);

    }
 
    .column{
        margin-right:80px;
    }
}


  







 /* end of index css */

 
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  
  .container1{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
  }

  .container3{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


  @media(max-width: 373px){
        .submit{
            display: none !important;
        }
        .add{
            display: inline-block !important;
        }
        
  }

  #bod1{
    background-image: url("../images/back.png")
    }
    
    #img1{
        background-image: url("../images/olx2.png") 
    }


  .text-white{
      color: rgb(255, 243, 189);
  }


 
  /* .container{
      background-color: rgb(177, 217, 255);
  } */


  .add{
      height: 60px;
      text-align: center;
      font-weight: bold;
      display: none;
  }

  .btn{
      flex : 3;
  }



  @media (max-width:375px){
    #sub1{
        display: none !important;
    }
}


  @media (max-width:600px){
      .title{
          display: none;
      }
  }

  @media(max-width: 1600px){
    .formcs{
        margin-left: 350px;
    }
}


@media (max-width:600px){
    .formcs{
       margin: 0px;
    }
}


.font-bold{
    margin-top: 30px;
}





@media(max-width: 407px){
    .btnind{
        display: none !important;
    }


    .column{
        align-content: center;
    }
}


@media(max-width: 768px){
    .formcs{
margin:auto;
    }
}


@media (max-width:548px){
    .column{
       margin-left: 150px;
    }
    #basic-addon1{
        display: none !important;
    }
    
    #homebtn{
        margin: auto;
    }
    
    
}



/* chat css */

/* .btns{
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(226, 226, 226, 0.233);
    width: 80px;
    height: 60px;
    color: grey;
    cursor: pointer;
    font-size: 24px
} */
/* .btns:hover{
    background-color: rgba(214, 214, 214, 0.479);
} */


.allChats{
    margin-top: 40px;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}


.chatDiv{
    height: 80px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 8px
}



.chatBox{
    height: 350px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 8px;
    margin-bottom: 40px;
    background-color: rgb(245, 177, 31);
}


.reciever_info{
    
    width: 98% !important;
    height: 60px;
    background-color: rgb(245, 177, 31);
    color: white;
    margin-bottom: 25px;
}


.messInp{
    width: 94%;
    object-position: bottom;
}
.bg-green{
    background-color:rgb(245, 177, 31);

}
.messages{
    width: 98%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
}
.send_btn{
    margin-top: 4px;
    background-color: rgb(253, 156, 28);
    border: 2px solid rgb(253, 156, 28);
    border-radius: 50%;
    margin-left: 4px;
    cursor: pointer;
}


.border{
    border: 1px solid #000 !important;
    display: block !important;
}
.text-black{
    color: #000 !important;
}
.message{
    width: 60% !important;
}
.float-right{
    margin-left: 40% !important;
}

.cursor-pointer:hover{
    cursor: pointer;
}

